---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Sobre mí"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('Febrero 02 2025')}
	heroImage="/blog-placeholder-about2.jpg"
>
	<p>
		Juan Manuel Silva – Maestro de Obra y Artista en Acabados de Construcción. 
		En el mundo de la construcción y los acabados interiores, la calidad y el 
		detalle marcan la diferencia. Soy un experto con años de 
		experiencia en pintura de interiores, construcción de estructuras metálicas 
		livianas en drywall, instalación de cornisas, cortineros, cielos rasos y venezianos. 
		Mi trabajo no solo transforma espacios, sino que también añade valor y personalidad a cada proyecto.

		Gracias a mí enfoque meticuloso y su habilidad para combinar técnica y estética, 
		no solo construyó, sino que creó ambientes funcionales y visualmente impactantes. 
		Mi dominio en la instalación de vigas, viguetas y canaletas garantiza la estabilidad y 
		durabilidad de cada estructura, asegurando resultados impecables.
	</p>

	<p>
		Construcción con Propósito: Más que un Servicio, una Experiencia
	</p>

	<p>
		En un mercado donde la confianza lo es todo, aplicó estrategias de social selling, 
		interactuando directamente con clientes y seguidores para entender sus necesidades y ofrecer soluciones personalizadas. 
		Su presencia digital refuerza su compromiso con la transparencia, la asesoría profesional y la garantía de resultados.
				
		Si buscas un maestro de obra que combine experiencia, creatividad y calidad, soy la elección ideal para
		transformar cualquier espacio en una obra maestra.
	</p>

	<p>
		📩 Contáctalo y descubre cómo hacer realidad tu proyecto con la precisión de un experto.
	</p>
</Layout>
