---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header>
  <nav>
    <h2><a href="/">{SITE_TITLE}</a></h2>
    <div class="internal-links">
      <HeaderLink href="/">Inicio</HeaderLink>
      <HeaderLink href="/blog">Galeria</HeaderLink>
      <HeaderLink href="/about">Sobre mí</HeaderLink>
      <HeaderLink href="/contact">Contacto</HeaderLink>
    </div>
    <div class="social-links">
      <a
        href="https://www.facebook.com/juanmanuel.silva.9256?locale=es_LA"
        target="_blank"
        class="hover:text-blue-500"
      >
        <svg
          class="w-8 h-8"
          viewBox="0 0 16 16"
          aria-hidden="true"
          fill="currentColor"
        >
          <path
            d="M8 0C3.58 0 0 3.58 0 8s3.58 8 8 8 8-3.58 8-8-3.58-8-8-8zm1.75 8.5h-1v4h-2v-4h-1v-2h1v-1c0-.74.37-2 2-2h1.5v2h-1c-.17 0-.5.08-.5.5v1.5h1.5l-.5 2z"
          ></path>
        </svg>
      </a>
    </div>
  </nav>
</header>
<style>
  @import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
  header {
    margin: 0;
    padding: 0 1em;
    background: white;
    box-shadow: 0 2px 8px rgba(var(--black), 5%);
    font-family: "Cormorant Garamond", serif;
    font-weight: 700;
    font-style: normal;
  }
  h2 {
    margin: 0;
    font-size: 1em;
  }

  h2 a,
  h2 a.active {
    text-decoration: none;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav a {
    padding: 1em 0.5em;
    color: var(--black);
    border-bottom: 4px solid transparent;
    text-decoration: none;
  }
  nav a.active {
    text-decoration: none;
    border-bottom-color: var(--accent);
  }
  .social-links,
  .social-links a {
    display: flex;
  }
  @media (max-width: 720px) {
    .social-links {
      display: none;
    }
  }
</style>
